{erl_opts, [
  warn_unused_vars,
  warnings_as_errors,
  ewarn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  debug_info,
  {parse_transform, lager_transform}
]}.

{erl_first_files, [
  "src/utils/fiar_web_server.erl",
  "test/support/fiart_ct.erl",
  "test/support/fiart_http_tests.erl"
]}.

{deps, [
  {cowboy_swagger, "2.1.0"},
  {mixer,   "1.1.0", {pkg, inaka_mixer}},
  {sumo_db, "0.7.7"},
  {jiffy,   "0.15.2"},
  {hackney, "1.15.0"},
  {lager,   "3.6.8"}
]}.

%% == Common Test ==

% {ct_compile_opts, [
%   debug_info,
%   warnings_as_errors,
%   warn_unused_vars,
%   ewarn_export_all,
%   warn_shadow_vars,
%   warn_unused_import,
%   warn_unused_function,
%   warn_bif_clash,
%   warn_unused_record,
%   warn_deprecated_function,
%   warn_obsolete_guard,
%   strict_validation,
%   warn_export_vars,
%   warn_exported_vars,
%   warn_untyped_record
% ]}.

{ct_opts, [
  {sys_config, ["config/sys.config"]}
]}.

%% == Cover ==

{cover_enabled, true}.
{cover_opts, [verbose]}.
% {cover_excl_mods, [pw_repo]}.


%% == Dialyzer ==

% {dialyzer, [
%   {warnings, [
%     no_return,
%     no_unused,
%     no_improper_lists,
%     no_fun_app,
%     no_match,
%     no_opaque,
%     no_fail_call,
%     no_contracts,
%     no_behaviours,
%     no_undefined_callbacks,
%     unmatched_returns,
%     error_handling,
%     race_conditions,
%     % overspecs,
%     % underspecs,
%     specdiffs
%   ]},
%   {get_warnings, true},
%   {plt_apps, top_level_deps},
%   {plt_extra_apps, []},
%   {plt_location, local},
%   {plt_prefix, "fiar"},
%   {base_plt_location, "."},
%   {base_plt_prefix, "fiar"}
% ]}.

%% == Shell ==

{shell, [
  {config, ["config/sys.config"]},
  {apps, [fiar]}
]}.
