[
  %% Fiar
  {fiar, [
    {webserver, #{
        port => 8087,
        acceptors => 100
    }}
  ]},

  %% Cowboy Swagger
  {cowboy_swagger, [
    {global_spec, #{
      swagger => "2.0",
      info => #{
        title => "Fiar API",
        version => "1.0",
        basePath => "/api-docs"
      }
    }}
  ]},

  %% Emysql
  {emysql, [
    {default_timeout, 30000},
    {lock_timeout,    30000}
  ]},

  %% Sumo DB
  {sumo_db, [
    {wpool_opts, [{overrun_warning, 100}]},
    {log_queries, true},
    {query_timeout, 30000},
    {storage_backends, [
      {sumo_backend_mnesia, sumo_backend_mnesia, []}
    ]},
    {stores, [
      {fiar_store_mnesia, sumo_store_mnesia, [{workers, 10}]}
    ]},
    {docs, [
      {fiar_user, fiar_store_mnesia, #{module => fiar_user}}
    ]}
  ]}
].
